@charset "UTF-8";

.introdução{
    font-size: 1.5em;
    text-indent: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 100px auto 0px auto; 

}
section{
    min-width: 250px;
    max-width: 1000px;
    height: 500px;
    margin: 100px auto 100px auto;
    background-color: rgba(255, 255, 255, 0.493);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px solid;
    
}
body{
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#texto{
    max-width: 400px;
    min-width: 150px;
    text-indent: 15px;
    display: block;
    margin: 120px 25px 50px 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
